<footer class="site-footer">
  <p>
    &copy; <%= new Date().getFullYear() %> Shadow Paths | A
    Choose-Your-Own-Adventure Experience
  </p>
  <p>Alexander Green | Tooele Technical College</p>
</footer>
