<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header', { user }); %>

    <!--<div class="banner">
    <img src="/images/banner.jpg" alt="Shadow Paths Banner" />
    </div>-->

    <!-- Hero -->
    <section class="hero">
      <h2>Every Choice Shapes Your Fate</h2>
      <p>
        Step into dark forests, cursed ruins, and twisted realms. Choose wisely,
        for your path may lead to glory... or ruin.
      </p>
      <button class="cta-button">Begin Your Journey</button>

      <!-- Teaser Image -->
      <div class="teaser">
        <img src="/images/bookMagic.png" alt="Teaser Art" />
      </div>
    </section>

    <%- include('../partials/footer') %>
  </body>
</html>
